<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
    </head>
    <body>

        <h1>Profile ID: <%= person %></h1>
        <p>Name: <%= data.name %></p>
        <p>Location: <%= data.location %></p>

        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(hobby) { %>
                <li><%= hobby %></li>
            <% }) %>
        </ul>

    </body>
</html>
